.app {


  &__innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    background: white;
    padding: 10px;
    border: 2px solid #ccc
  }


  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__layout {
    display: flex;
    align-items: center;
  }

  &__searchBox {

    display: flex;
    margin-right: 10px;
    padding: 5px 10px;


    border: 2px solid #ccc;
    border-radius: 5px;


    input {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 14px;
      font-weight: 700;

      &:hover, &:focus {
        outline: none;
      }
    }


  }


  &__searchBtn {
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s ease all;


    &:hover {
      background: black;
      color: white;
    }

  }


  &__gridBox {
    margin: 50px auto 30px ;
    padding: 10px;
    border: 2px solid #ccc;


    .infinite-scroll-component {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }


    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .app__gridBox-image {
      border: 1px solid #ccc;
    }


    &.twoBytwo {


      .app__gridBox-image {
        height: 300px;
        max-width: 42%;
        margin: 7px;
      }

    }


    &.threeBythree {

      .app__gridBox-image {
        height: auto;
        max-width: 30%;
        margin: 7px;
      }

    }



    &.fourByfour {

      .app__gridBox-image {
        height: auto;
        max-width: 23%;
        margin: 7px;
      }

    }


  }


}


.application-container {
  max-width: 1000px;
  margin: 0 auto;
}


.container-fluid {
  padding: 0 15px;
}
